<h2 class="firstTitle">{{mainTitle}}</h2>
<div class="prods">
  {{#each products}}
    <div class="prod">
      <img src="{{thumbnail}}" alt="{{title}}" class="prodImg">
      <p class="prodId">id: {{_id}}</p>
      <p class="prodTitle">{{title}}</p>
      <p class="prodPrice">U$S {{price}}</p>
      <p class="prodDesc">{{description}}</p>
    </div>
  {{/each}}
</div>